@import "../../style/main.scss";

.about {
  color: #000;
  padding: 40px 20px 80px;

  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: multiply, multiply;

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .title {
    font-size: 3rem;
    color: #000;
    margin-bottom: 40px;
    display: inline-block;
    &::after {
      display: flex;
      content: "";
      border: 2px solid $grey;
    }
  }
  .description {
    font-size: 1.125rem;
  }
}
