@import "../../style/main.scss";

.header {
  font-family: "Roboto", sans-serif;
  height: calc(100vh - 80px);

  background-color: transparent;
  background-image: url("../../assets/programmer.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  padding: 20px;
  display: flex;
 
  align-items: center;

  h1,
  h2 {
   
   color:#000;
  }

  h2 {
    font-size: 2rem;
  }

  .title {
    font-size: 4rem;
  }

  .btn_wrapper {
    margin-top: 40px;
   
  }
}
